body {
    background: linear-gradient(to right, rgb(255, 213, 25), rgb(255, 115, 0));
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.5rem;
}

img{
    padding: 10px;
    height: 100px;
    margin: 5px 15px;
    width: auto;
}

.container img:hover{
    transform: scale(1.5);
    transition: all 1s;
}

.score-container{
    background-color: rgba(255, 0, 0, 0.3);
    padding: 5px 15px;
    margin-top: 7px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    font-size: 0.9rem;
    text-align: center;
}

.container{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#choices {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    min-height: 200px;
}

#computer-choice {
    font-size: 1.3rem;
    margin: 25px 0;
}

#user-choice, #computer-choice {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


#result-div {
    font-size: 110%;
    padding: 10px 15px;
    border-radius: 10px;
    width: 60%;
    margin: 5px auto;
}